.app-width {
  max-width: 600px !important;
}

.gap-1 {
  gap: 1em;
}

.recaptcha {
  width: 25px;
}

.v-application__wrap {
  background-color: rgb(38, 35, 54);
  color: #fff;
}

.v-counter {
  color: #fff !important;
}

.bg-list {
  background-color: #342f4e !important;
}